

.rating label {
text-indent: -100px;
width: 40px !important;
height: 30px;
overflow: hidden;
cursor: pointer;
}

.label {
float: left;
padding-top: 3px;
}

input[type="checkbox"] {
padding-right: 4px;
position: absolute;
left: 340px;
margin-top: 10px;
}

input[type="checkbox"], .rating label.stars {
float: right;
line-height: 30px;
height: 30px;
}

span + input[type=checkbox] + label, legend + input[type=checkbox] + label {
clear: right;
margin-right: 80px;
counter-reset: checkbox;
}

.rating input[type="checkbox"]:required + label:after {
content: '';
position: absolute;
left: 340px;
min-height: 10px;
margin-top: -36px;
text-align: right;
/*  background: #6cbf00;*/
padding: 10px 10px;
display: block;
width: 50px;
}

.rating label.stars {
background: transparent url('http://www.findsourcecode.com/wp-content/uploads/2014/04/star_off.png') no-repeat center center;
}

.rating label.stars:hover ~ label.stars,
.rating label.stars:hover,
.rating input[type=checkbox]:checked ~ label.stars {
background-image: url('http://www.findsourcecode.com/wp-content/uploads/2014/04/star.png');
counter-increment: checkbox;
}

/*.rating input[type=checkbox][name=stars]:required + label.stars:after {
content: counter(checkbox) " stars!";*/
/*}*/
