.que2a,.que2b,.que3a,.que3b{
    display: none;
}
.hide-block{
    visibility: hidden;
    height: 0;
    width: 0;
    transition: all 0.3s ease;
    padding: 0 !important;
    opacity: 0;
}
.show-block{
    visibility: visible;
    height: inherit;
    transition: all 0.3s ease;
    opacity: 1;
    width: inherit;
}